<div style="padding:10px;">
    <div class="well" style="min-height:57px;">
        <strong style="text-decoration: underline;">Tyvalib</strong> — тыва дылга хамаарышкан проектилер булуңу.<br />
        Бирги проективис болза «сөстүк» — тыва сөстерниң утказы болгаш орус, англи очулгалары.
        <hr/>
        Тыва үжүктерниң орнунга "н", "о", "у" деп үжүктерни ажыглап болур силер.
    </div>

    <div class="well" style="min-height:57px;">
        <h4 style="padding-top: 0px; margin-top: 0px;">Тыва сөстүк сервизи</h4>
        Бо проектиниң интернетте арыны <a href="http://www.tyvalib.ru/" target="_blank">Tyvalib.Ru</a>.
        <hr/>
    </div>
</div>