<div id="homeView">
    <div id="wrapper">
        <div class="well">
            <h1> Экии! </h1>
            <p>Бистиң бир дугаар проективис сөстүкче кирип-моорланар!</p>
            <p id="countMessage" style="display:none;">Шуптузу <span id="count"></span> сөс бар.</p>

            <div style="text-align: center;">
                <p>
                    <form >
                        <div class="input-append" style="max-width: 90%;">
                            <input type="text" id="searchString" placeholder="Сөстү парлаптыңар…">
                            <button id="search" type="submit"  class="btn btn-info"><i class="icon-search icon-white"></i> </button>
                        </div>
                    </form>
                </p>


                <p style="text-align: left;">
                    <strong>Тыва "ө", "ң", "ү" - деп ужуктерниң орнунга анаа "о", "н", "у" деп үжүктерни ажыглап болур силер....</strong> Чижелээрге ("<a href="#" class="searchlink">мөңгүн</a>" деп сөстү тыгарда "монгун" деп парлаптыңар)
                </p>
            </div>
        </div>
    </div>
</div>
